This is a template file for PLACEHOLDER_NAME.

Project: PLACEHOLDER_NAME
Author: {{AUTHOR_NAME}}
Description: Template-generated project

Features:
- Template processing
- Variable substitution
- File renaming
